<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="ngBoilerplate" ng-controller="AppCtrl" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="ngBoilerplate" ng-controller="AppCtrl" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="ngBoilerplate" ng-controller="AppCtrl" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="ngBoilerplate" ng-controller="AppCtrl" class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title ng-bind="pageTitle"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- social media tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@mtranang">
    <meta name="twitter:title" content="ngCompassBoilerplate">
    <meta name="twitter:description" content="Non-Trivial AngularJS and Compass Made Easy: Everything you need to kickstart AngularJS with Compass projects: a best-practice directory structure, an intelligent build system, and the best web design libraries around.">
    <meta name="twitter:creator" content="@mtranang">
    <meta name="twitter:image:src" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846">
    <meta property="og:title" content="ngCompassBoilerplate" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://bit.ly/ngCompassBoilerplate" />
    <meta property="og:image" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846" />
    <meta property="og:description" content="Non-Trivial AngularJS and Compass Made Easy: Everything you need to kickstart AngularJS with Compass projects: a best-practice directory structure, an intelligent build system, and the best web design libraries around.">

    <!-- font awesome from BootstrapCDN -->
    <link
        href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css"
        rel="stylesheet">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>
  </head>
  <body>
    <div class="container">
      <div class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" ng-init="menuCollapsed = true"
            ng-click="menuCollapsed = ! menuCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-brand">
            ng-compass-boilerplate
            <small>
              <a href="http://github.com/mtr/ng-compass-boilerplate/blob/v<%= version %>-release/CHANGELOG.md">
                v<%= version %>
              </a>
            </small>
          </div>
        </div>
        <div class="collapse navbar-collapse" collapse="menuCollapsed">
          <ul class="nav navbar-nav">
            <li ui-sref-active="active">
              <a href ui-sref="home">
                <span class="fa fa-home"></span>
                Home
              </a>
            </li>
            <li ui-sref-active="active">
              <a href ui-sref="about">
                <span class="fa fa-info-circle"></span>
                What is it?
              </a>
            </li>
            <li>
              <a href="https://github.com/mtr/ng-compass-boilerplate#readme">
                <span class="fa fa-book"></span>
                Read the Docs
              </a>
            </li>
            <li>
              <a href="https://github.com/mtr/ng-compass-boilerplate">
                <span class="fa fa-github-alt"></span>
                Github
              </a>
            </li>
            <li>
              <a href="https://github.com/mtr/ng-compass-boilerplate/issues">
                <span class="fa fa-comments"></span>
                Support
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container" ui-view="main"></div>

    <footer class="footer">
      <div class="container">
        <div class="footer-inner">
          <ul class="social">
            <li><a target="_blank" href="https://plus.google.com/+MartinThorsenRanang/"><span class="fa fa-google-plus-square"></span></a></li>
            <li><a target="_blank" href="http://twitter.com/mtranang"><span
                class="fa fa-twitter-square"></span></a></li>
            <li><a target="_blank" href="http://linkedin.com/in/ranang"><span
                class="fa fa-linkedin-square"></span></a></li>
            <li><a target="_blank" href="http://github.com/mtr/ng-compass-boilerplate"><span class="fa fa-github-square"></span></a></li>
          </ul>
          

          <p>
            (c) 2014 <a href="http://ranang.org">Martin Thorsen Ranang</a>.
            <a href="http://github.com/mtr/ng-compass-boilerplate/fork_select">Fork this</a>
            to kickstart your next project.
            <br />
            ng-compass-boilerplate is based on
            <a href="http://www.angularjs.org">AngularJS</a>,
            <a href="http://getbootstrap.com">Bootstrap</a>,
            <a href="http://compass-style.org/">Compass</a>,
            <a href="http://angular-ui.github.com/bootstrap">UI Bootstrap</a>,
            and 
            <a href="http://fortawesome.github.com/Font-Awesome">Font Awesome</a>.        
          </p>
        </div>
      </div>
    </footer>
    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>

    <!-- it's stupid to have to load it here, but this is for the +1 button -->
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
      { "parsetags": "explicit" }
    </script>
  </body>
</html>
